html, body {
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
}

#map2d, #map3d {
  width:100%;
  height:calc(100vh - 60px);  /* subtract header height */
  position:absolute;
  top:60px;
  left:0;
}


#map3d {
  display:block;
  visibility:hidden;  /* hide but allow map to initialize */
}


/* ----- TOP HEADER BAR ----- */
#topBar {
  width:100%;
  height:60px;
  background:rgb(1, 6, 99);
  display:flex;
  align-items:center;
  justify-content:center;
  position:absolute;
  top:0;
  left:0;
  z-index:2000;
  box-shadow:0 2px 6px rgba(0,0,0,0.25);
}

/* Left group (LOGO + name) */
#leftGroup {
  position:absolute;
  left:16px;
  display:flex;
  align-items:center;
  gap:10px;
}

#logo {
  height:42px;
}

#logo-name {
  font-size:20px;
  font-weight:700;
  letter-spacing:1px;
  color: white;
}

/* Center Title */
#title {
  font-size:24px;
  font-weight:800;
  letter-spacing:2px;
  color:white;
}

/* ----- LEFT CONTROLS ----- */
#controls {
  position:absolute;
  top:140px;
  left:10px;
  z-index:1500;
  background:white;
  padding:12px 14px;
  border-radius:8px;
  box-shadow:0 2px 5px rgba(0,0,0,0.25);
  font-size:14px;
  line-height:20px;
}

.chkRow {
  display:flex;
  align-items:center;
  gap:6px;
  margin-bottom:6px;
}

/* ----- MODE SWITCH BUTTON ----- */
#modeSwitch {
  position:absolute;
  top:75px;
  left:50px;
  z-index:1500;
  background:rgb(1, 6, 99);
  color:white;
  padding:10px 16px;
  border-radius:6px;
  cursor:pointer;
  font-weight:600;
  box-shadow:0 2px 6px rgba(0,0,0,0.25);
}
